@import '../styles-all/styles.scss';

.customInput-container{
    width:auto;
    display:flex;
    flex-direction: row;
    padding:25px 15px;
    border-right: 2px solid $lightGray;
    
    

    img{
    
        margin-right:10px;
        height:24px;
        width: auto;
      } 

      input{
         
        flex:1;
        font-size: 16px;
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: var(--element-color);
        color: var(--text-color);
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        &:focus{
            outline:none;
        }
       
       
    }
 }