@import '../../mixins';
$lightGray:#f4f6f8;

.headingBar-container{
    width:auto;
    
    display:flex;
    flex-direction: row;
    background-color: var(--element-color);
    border-radius: 0 4px 4px 4px;
    align-items: center;
    margin-top: -42px;
    position: relative;
    z-index:100;
    
    @include phonePortrait {
        flex-direction: column;
        border-radius: 4px 4px 4px 4px;
       
    }


    .companyLogo-container{
        @include phonePortrait {
            height: 60px;
            width:100px; 
            margin:0;
            margin-top: -25px;   
        }
      
        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;        
        height: 120px;
        width: 120px;
        margin:10px;
        margin-right:0px;

  

    }

    .info-container{
      
        flex:2;
        padding: 0px 45px;
        box-sizing: border-box;
        h2{
            text-align: left;
        }

        @include phonePortrait {
            flex:1;
            h2{
                font-size: 20px;
            }
        }
     

     
    }
    .button-container{
        flex:1;
        padding:5px 5px;
    }
}

