$violet:rgb(89,100,224);
$lightViolet:#939BF4;
$veryDarkBlue:#19202D;
$midnight:#121721;
$white:#FFFFFF;
$lightGray:#f4f6f8;
$gray:#9DAEC2;
$darkGrey:#6E8098;

.jobBox-container{
    width:auto;
    border-radius: 2px;


    .jobIcon{
        height: 60px;
        width:100px;       
        position: relative;
        z-index:1;
        left:32px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }
 
    .jobInfo-container{
        margin-top:-25px;
        h1,h2, h3{
            display:none;
        }
      
        
    }
}

