@import '../styles-all/styles.scss';

.searchBar-container{
    
    margin:auto;
    position:relative;
    z-index:100;
    margin-top:-40px;
    box-sizing: border-box;
    
    border-radius: 6px;
    display:flex;
    flex-wrap:wrap;
    background-color: var(--element-color);

   
}

.input-container{   
    width:70%;
    height:auto;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
}

.searchInput-container{  width:60%;  }
.locationInput-container{  width: 40%;  }

 .search-container{
  width:29.99%;
  display: flex;
  align-items: center;
  
 
 
  .checkBox-container{
    width:50%; 
    
}

.button-container{
 width:25%;
 margin:0 5px 0 0 ;
}
 }



 