@import '../styles-all/styles.scss';
@import '../../mixins';
.searchBar-container{
    
    margin:auto;
    position:relative;
    z-index:100;
    margin-top:-40px;
    box-sizing: border-box; 
    border-radius: 6px;
    display:flex;
    background-color: var(--element-color);
}

.input-container{   
   flex-grow:3;
    height:auto;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    @include tabletPortrait {flex-grow:2;}
    @include tabletLandscape { flex-grow:2;  }
}

.searchInput-container{   flex-grow:2;}
.locationInput-container{  flex-grow:1;}

 .search-container{
    flex-grow:0.5;
  display: flex;
  align-items: center;
  
 
  .checkBox-container{
    flex-grow:1;
}

.button-container{
    padding:0 10px;
    .custom-button{
        @include tabletPortrait {
            padding:0 15px;
            margin-right:5px;
        }
        @include tabletLandscape {
            padding:0 15px;
            margin-right:5px;
        }
    }
}
 }



 