@import '../../mixins';

.header-background{
    width: 100%;
    height: 162px;
   

   

    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom-left-radius: 100px;
    position:relative;
    z-index:1;

    @include phonePortrait {
        border-bottom-left-radius: 0;
        background-image: url('../../assets/mobile/bg-pattern-header.svg');}
    @include phoneLandscape {
        border-bottom-left-radius: 0;
        background-image: url('../../assets/mobile/bg-pattern-header.svg'); }
    @include tabletPortrait {background-image: url('../../assets/tablet/bg-pattern-header.svg');}
    @include tabletLandscape {background-image: url('../../assets/tablet/bg-pattern-header.svg');  }
   
}
.container{
    @include responsiveValues;
    width:var(--container-desktopDisplays);
    display:flex;
    padding-top: 44px;
    margin:auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
    @include phonePortrait {width:var(--container-mobilePortrait);}
    @include phoneLandscape { width:var(--container-mobileLandscape);  }
    @include tabletPortrait {width:var(--container-tabletPortrait);}
    @include tabletLandscape { width:var(--container-tabletLandscape);  }
    @include laptopDisplay { width:var(--container-desktopDisplays); }
}


 
.logo-link{
    flex:1;
    text-decoration: none;
    
    &:hover{
        cursor:pointer;
    }
}

.logo-container{
    width:115px;
    height:32px;
    background-image: url(../../assets/desktop/logo.svg);
    background-repeat: no-repeat;
   
   
    
}


.theme-container{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
   

}

.theme-icon-light{
    background-image: url(../../assets/desktop/icon-sun.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height:20px;
    width:20px;
    padding:2px;
    margin:0 15px;
  
   
}
.theme-icon-dark{
    background-image: url(../../assets/desktop/icon-moon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height:14px;
    width:14px;
    padding:2px;
    margin:0  0 0 15px;
    
   
}

