@import '../../mixins';
.jobCollection-container{
    display:flex;
    margin-top:80px;
}

.item-container{
      display: grid;
      -webkit-align-items: stretch; 
      align-items: stretch; 
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      @include phonePortrait {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        }
      @include phoneLandscape {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px; 
        }
      @include tabletPortrait {
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10px; 
        }
      @include tabletLandscape {
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 20px; 
        }
      @include laptopDisplay { 
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 25px; 
       }

      @media screen and (max-width: 991px){
          grid-gap:10px;
      }

      .item{
        align-self: stretch;
      }
      

      & .jobBox-container{
          margin-bottom: 10px;
          
         
      }
}