@import './_mixins.scss';
body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @include lightmode;
  &.is_inverted{
    @include darkmode;
  }
  background-color: var(--background-color);
  color:var(--text-color);
  a{color:var(--link-color)};

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
