@import '../../mixins';

.homepage-container{
    @include responsiveValues;
    width:var(--container-desktopDisplays);
    margin:auto;

     
    @include phonePortrait {width:var(--container-mobilePortrait);}
    @include phoneLandscape { width:var(--container-mobileLandscape);  }
    @include tabletPortrait {width:var(--container-tabletPortrait);}
    @include tabletLandscape { width:var(--container-tabletLandscape);  }
    @include laptopDisplay { width:var(--container-desktopDisplays); }
   

    .loadMore-btn-container{
        margin:65px auto 50px auto ;
    }
}